<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dengqi7.mybatis.dao.CityMapper">
	<resultMap id="BaseResultMap" type="com.dengqi7.mybatis.domain.City">
		<id column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
	</resultMap>

	<parameterMap id="City" type="com.dengqi7.mybatis.domain.City"/>

	<sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>

	<select id="selectCityByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from city
		where city_name = #{cityName}
	</select>

	<select id="selectCitybyId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from city
		where id = #{id}
	</select>

	<select id="selectAllCities" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from city
	</select>

	<insert id="insert" parameterMap="City" useGeneratedKeys="true" keyProperty="id">
		insert into city
		values(#{id},#{provinceId},#{cityName},#{description});
	</insert>

	<update id="updateCity" parameterType="City">
		update city
		<set>
			<if test="provinceId!=0">
				province_id = #{provinceId},
			</if>
			<if test="cityName!=null and cityName!=''">
				city_name = #{cityName},
			</if>
			<if test="description!=null and description !=''">
				description = #{description}
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteById" parameterType="java.lang.Long" >
		delete from city where id = #{id}
	</delete>

</mapper>
